<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>検索ページ</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
        
    <h1>ポケモン詳細検索</h1>
    <h2>〜覚える技を表示します〜</h2>

    <!-- 名前検索へのリンク -->
    <a href="{% url 'base' %}">基本データ検索</a>

    <!-- 詳細検索へのリンク -->
    <a href="{% url 'detail' %}">覚えるわざ検索</a>
        
    <!-- アイテム検索へのリンク -->
    <a href="{% url 'item' %}">アイテム検索</a>

    <a href="{% url 'index' %}">トップに戻る</a>

    <form action="/main/detail" method="GET">
        <label for="search">検索:</label>
        <input type="text" id="search" name="detail" placeholder="ポケモン名を入力してください">
        <input type="submit" value="検索">
    </form>

    {%if data_len > 0 %}
    <form action="/main/detail" method="GET">
        <label for="sort_detail">ソート:</label>
        <select id="sort_detail" name="sort_detail">
            <option value="no">図鑑番号</option>
            <option value="query">ポケモン名</option>
        </select>
        <select id="ascdesc_detail" name="ascdesc_detail">
            <option value="asc">昇順</option>
            <option value="desc">降順</option>
        </select>
        <input type="submit" value="ソートする">
    </form>
    <p>検索結果:{{data_len}}件</p>
    {% endif %}
    
    <table>
        <tr>
            <th>画像</th>
            <th>図鑑番号</th>
            <th>ポケモン名</th>
            <th>レベルアップ</th>
            <th>わざマシン</th>
            <th>わざレコード</th>
            <th>タマゴ</th>
        </tr>
        {%if data_len > 0 %}
            {%for data in context_detail %}
                <tr>
                    <td><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ data.no }}.png" alt="Pokemon Image"></td>
                    <td>{{ data.no }}</td>
                    <td>{{ data.query }}</td>
                    <td>{% for result in data.lv_up %}
                            LV{{result.0}}:{{result.1}}
                            <br>
                        {% endfor %}
                    </td>
                    <td>{% for result in data.tms %}
                            No.{{result.0}}:{{result.1}}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for result in data.trs %}
                            No.{{result.0}}:{{result.1}}
                            <br>
                        {% endfor %}
                    </td>
                    <td>{% for egg_move in data.egg_moves %}
                            {{egg_move}}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% elif data_len == 'no_data' %}
            <p>検索結果0件　もう一度検索してください。</p>
        {% endif %}
    </table>
</body>
</html>
