<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>検索ページ</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    
        
    <h1>アイテム検索</h1>
    <h2>〜アイテムの説明を表示します〜</h2>

    <!-- 名前検索へのリンク -->
    <a href="{% url 'base' %}">基本データ検索</a>
    <!-- 詳細検索へのリンク -->
    <a href="{% url 'detail' %}">覚えるわざ検索</a>

    <!-- アイテム検索へのリンク -->
    <a href="{% url 'item' %}">アイテム検索</a>

    <a href="{% url 'index' %}">トップに戻る</a>

    <form action="/main/item" method="GET">
        <label for="search">検索:</label>
        <input type="text" id="search" name="item" placeholder="アイテム名を入力してください">
        <input type="submit" value="検索">
    </form>

    {%if data_len > 0 %}
    <form action="/main/item" method="GET">
        <label for="sort_item">ソート:</label>
        <select id="sort_item" name="sort_item">
            <option value="item_id">アイテム番号</option>
            <option value="ja_item">アイテム名</option>
        </select>
        <select id="ascdesc_item" name="ascdesc_item">
            <option value="asc">昇順</option>
            <option value="desc">降順</option>
        </select>
        <input type="submit" value="ソートする">
    </form>
    {% endif %}

    <table>
        <tr>
            <th>画像</th>
            <th>アイテム番号</th>
            <th>アイテム名</th>
            <th>説明</th>

        </tr>
        {%if data_len > 0 %}
            {%for data in context_item %}
                <tr>
                    <td><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{data.eng_item}}.png" alt="Item Image">
                    <td>{{ data.item_id }}</td>
                    <td>{{ data.ja_item }}</td>
                    <td>{{ data.text }}</td>
                <tr>
            {% endfor %}
        {% endif %}
    </table>



    
    
</body>
</html>
